.content {display:none;}
.preload { width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
  }


.btn.btn-default.hvr-pop{
  margin-top: -1px;
  margin-right: -9px;
   margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid blue;
}
#postque {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid blue;
}
#selectsub{
  padding: 10px;
  font-size: 18px;
    cursor: pointer;

}
.selsub{
  padding: 10px;
    cursor: pointer;
}
#selectsub:hover {
  color: black;
    background-color: white;
    border: 1px solid blue;
}

#selectsem{
    cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.selsem{
    cursor: pointer;
  padding: 10px;
}
#selectsem:hover {
  color: black;
    background-color: white;
    border: 1px solid blue;
}

#selectsemester {
  padding: 10px;
    cursor: pointer;
  font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid blue;
}
.hvr-forward{
  cursor: pointer;
padding: 10px;
}
.tab1-right > a > button:hover {
    background: white;
    border: 1px solid blue;
    color: black;
}
#postque:hover {
    background-color: lightblue;
    border: 1px solid #48ad7d;
}


 #selectsemester:hover {
    background-color: lightblue;
    border: 1px solid #48ad7d;
}
#searchbtn:hover{
    background-color: white;
  border: 1px solid blue;
}
#semesterbutton:hover{
  color: black;
  background-color: white;
border: 1px solid blue;
}
#subjectbutton:hover{
  color: black;
  background-color: white;
border: 2px solid blue;
}

.hvr-shadow-radial{
box-shadow: 0 0 1px transparent;
position: relative;


}


.hvr-icon-spin{
  font-family: 'Ubuntu', sans-serif;
  font-size: 26px;
  color: blue;
  font-weight:bold;
}
.hvr-icon-forward{
  font-size: 17px;
}

.modal-body .form-horizontal .col-sm-2,
  .modal-body .form-horizontal .col-sm-10 {
      width: 100%
  }

  .modal-body .form-horizontal .control-label {
      text-align: left;
  }
  .modal-body .form-horizontal .col-sm-offset-2 {
      margin-left: 15px;
  }
  .modal-title {
    text-align: center;
    font-size: 30px;
  }

#paging.hvr-icon-forward {

  font-size: 20px;
  margin-bottom: 87px;
}


.feedback{
  text-align: center;
}

@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    background: #322f30;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #fff;
}

ul {
    padding:0;
    list-style: none;
}




.nav-tabs > li > a {
  font-size: 22px;
    text-align: center;
    color: blue;
}
.nav-tabs > li > a {
    font-size: 22px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav > li > a {
    font-size: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    font-size: 25px;
    color: #080101;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
